<% include partials/head.ejs %>

  <h1>Status do Sitema</h1>
  <p class="lead">atualmente tem <%= contador %> cpf(s) na blackList.
  <br> Foram feitas <%= request %> consultas.</p>

<% include partials/footer.ejs %>